/* ******************************** IMPOSTAZIONI GENERALI********* */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

/* ******************************** IMPOSTAZIONI BODY ********* */
body {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom, #009688 15vh, #d2dbdc 15vh);
  background-repeat: no-repeat;
}

/* ******************************** CONTAINER CHAT ********* */
.container_chat {
  height: 80vh;
  width: 70%;
  margin: 50px auto;
  display: flex;
}

/* ******************************** CONTAINER SX ********* */
.container_chat_sx {
  height: 100%;
  width: 30%;
  min-width: 355px;
}

/* ******************************** CONTAINER DX ********* */
.container_chat_dx {
  height: 100%;
  width: 70%;
  min-width: 300px;
  /* debug */
  /* background-color: red; */
}

/* ******************************** BOX PER DIVIDERE ********* */
.container_cont_chat {
  display: none;
}

.container_cont_chat.active {
  display: block;
  height: calc(100% - 70px);
  width: 100%;
  min-width: 330px;
}

/* ******************************** CONTATTO ATTIVO ********* */
.contatto_attivo img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.contatto_attivo {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #e8ebe9;
}

.box1 {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-left: 10px;
  height: 70px;
  width: 50%;
  border-left: solid rgb(218,218,218) 1px;
}

.box2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* debug */
  height: 70px;
  width: 50%;
}

.icon_box2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  width: 30%;
}

.icon_box2 i {
  color: #b6b9bb;
}

.contatto_attivo img {
  height:40px;
  width: 40px;
  border-radius: 50%;
}

.text1 {
  height: 40px;
  width: 80%;
  padding-left: 7px;
}

.text1 h2 {
  font-size: 15px;
  font-weight: normal;
}

.text1 span {
  font-size: 13px;
  color: #B6B9BB;
}

/* ******************************** CHAT ********* */
.chat {
  height: calc(100% - 70px);
  width: 100%;
  background-image: url('img/asset 9.jpeg');
  overflow-y: scroll;
}

.invio_chat {
  height: 70px;
  width: 100%;
  background-color: #f3eeea;
  display: flex;
}

.line_verde {
  height: 100px;
  width: 100%;
  padding-right: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* ******************************** CHAT VERDE ********* */
.chat_verde {
  max-width: 50%;
  padding: 25px;
  background-color: #D5F9BA;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.span1 span{
  font-size: 14px;
  font-weight: 500;
}

.fa.fa-chevron-down {
  display: none;
}

.freccia:hover .fa.fa-chevron-down {
  display: inline-block;
}


/* ******************************** OPZIONE MSG ********* */
.box_opz_msg {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 40px;
  width: 170px;
  margin-right: 50px;
  background-color: white;
  position: absolute;
  top: 47px;
  z-index: 10;
  border-radius: 7px;
  box-shadow: 0px 0px 30px 0px rgba(149,149,149,.87);
  display: none;
}

/* ******************************** CHAT BIANCA ********* */
.line_bianca {
  max-width: 50%;
  padding: 25px;
  padding-left: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.chat_bianca {
  height: 50px;
  width: 70%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* ******************************** QUESTO MESS E' STATO ELIMINATO ********* */
.msgcancellato{
background-color: rgba(168,168,168,.55);
font-size: 10px;
color: white;
}

/* ******************************** INVIO CHAT ********* */
.icon_emoji {
  height: 70px;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_emoji i {
  font-size: 25px;
  color: #6b7376;
}

/* ******************************** ESECUZIONE MESS ********* */
.esecuzione_mess {
  height: 70px;
  width: 70%;
}

.esecuzione_mess input {
  height: 50px;
  width: 100%;
  border-radius: 7px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  border-radius: 30px;
  padding-left: 20px;
  font-size: 15px;
}

/* ******************************** START MESS ********* */
.start_mess {
  height: 70px;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start_mess i {
  font-size: 25px;
  color: #6b7376;
}

.start_mess .fa-paper-plane {
  display:none
}

/* ******************************** BOX PROFILO PERSONALE ********* */
.box_profilo_personale {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* debug */
  background-color: #e9ebeb;
}

.image_profilo_personale {
  height: 50px;
  width: 50px;
  padding-left: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ******************************** MISURA IMG ********* */
.box_profilo_personale img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.image_profilo_personale img:hover {
  height: 41px;
  width: 41px;
}

/* ******************************** ICON ASSET PROFILO PERSONALE ********* */
.icon_asset_pro_pers {
  height: 50px;
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon_asset_pro_pers i {
  color: #b6b9bb;
}

/* ******************************** BOX NOTIFICHE ********* */
.box_notifiche {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* debug */
  background-color: #8edafc;
}

.box_notifiche img {
  height: 54px;
  width: 54px;
}

.box_notifiche img:hover {
  height: 56px;
  width: 56px;
}

/* ******************************** TEXT NOTIFICHE ********* */
.text_notifiche {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text_notifiche h2 {
  margin: 0;
  font-size: 13px;
  padding-left: 3px;
}

.text_notifiche a {
  font-size: 10px;
  padding-left: 3px;
  color: #4F7485;
}

/* ******************************** BOX INIZIA CHAT ********* */
.box_inizia_chat {
  height: 50px;
  width: 100%;
  padding: 10px;
  display: flex;
  background-color: #fafafa;
}

.icon_search {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
}

.icon_search i {
  font-size: 20px;
  color: #b6b9bb;
}

.ricerca {
  height: 100%;
  width: 90%;
  display: flex;
}

.ricerca input {
  width: 100%;
}

/* ******************************** CONTAINER CONTATTI CHAT ********* */
.container_contatti_chat {
  height: calc(100% - 190px);
  width: 100%;
  overflow-y: scroll;
}

.contatto_chat {
  height: 71px;
  width: 100%;
  padding-left: 10px;
  border-top: solid rgb(224,224,224) 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.contatto_chat img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.contatto_chat:hover {
  background-color: #e9ebeb;
}
.contatto_chat img:hover {
  height: 41px;
  width: 41px;
}

/* ******************************** CONTAINER CONTATTI CHAT (NOME_ORA)********* */
.container_text_contatti {
  width: 80%;
}

.nome_ora {
height: 50%;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}

.mess {
  height: 50%;
  width: 80%;
  justify-content: space-between;
  align-items: flex-start;
}

#nome_contatto {
  font-size: 16px;
}

#ora {
  font-size: 11px;
  padding-right: 15px;
  color: #B6B9BB;
}

#anteprima_mess {
  font-size: 13px;
  color: #B6B9BB;
}
